html {
    min-height: 100%;
}

body {
    background: url("../img/background.jpg") center no-repeat;
    background-size: cover;
    font-family: "Inter";
    font-size: 20px;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

header {
    align-items: center;;
    background-color: rgba(23,21,33,0.8);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header>button {
    background-color: rgba(23,21,33,0.8);
    border: 2px solid rgba(255,255,255,1);
    border-radius: 4px;
    color: rgba(255,255,255,1);
    font-family: inherit;
    font-size: 14px;
    height: 40px;
    margin: 10px;
}

header>p {
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

i {
    margin-right: 5px;
}

header>button:hover {
    background-color: rgba(255,255,255,0.05);
}

main {
    background-color: rgba(23,21,33,0.8);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 450px;
    margin: 10% auto 0 auto;
    padding-top: 50px;
    width: 400px;
}

h1 {
	color: rgba(255,255,255,1);
    font-size: 28px;
    font-weight: bold;
    padding: 20px 0 20px 0;
    text-align: center;
}

form {
    margin: 0 auto 0 auto;
	width: 300px;
}

form>button, form>input {
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 10px 0 10px;
    width: 100%;
}

form>input:focus {
    outline: 3px solid rgba(140,107,203,1);
}

form>input[type="submit"]:focus {
    outline: 3px solid rgba(255,255,255,1);
}

form>input::placeholder {
    font-style: italic;
}

form>button {
    background-color: rgba(140,107,203,1);
    color: rgba(255,255,255,1);
    font-weight: bold;
    margin-top: 20px;
}

form>button:hover {
    background-color: rgba(126,96,182,1);
}