.common-loginpage-signuppage {
    background-color: rgba(6,10,16,0.8);
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    margin: 10% auto 0 auto;
    width: 400px;
}

.common-loginpage-signuppage>h2 {
	color: rgba(255,255,255,1);
    font-size: 28px;
    font-weight: bold;
    margin-top: 0;
    padding: 20px 0 20px 0;
    text-align: center;
}

.common-loginpage-signuppage>form {
    margin: 0 auto 0 auto;
	width: 300px;
}

.common-loginpage-signuppage>form>button {
    cursor: pointer;
    transition: 0.3s linear;
}

.common-loginpage-signuppage>form>button, .common-loginpage-signuppage>form>input {
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    height: 50px;
    padding: 0 10px 0 10px;
    width: 100%;
}

.common-loginpage-signuppage>form>button {
    background-color: rgba(140,107,203,1);
    color: rgba(255,255,255,1);
    font-weight: bold;
    margin-top: 20px;
}

.common-loginpage-signuppage>form>button:hover {
    filter: brightness(90%);
}

.common-loginpage-signuppage>form>input::placeholder {
    font-style: italic;
}

.common-loginpage-signuppage>form>input:focus {
    outline: 3px solid rgba(140,107,203,1);
}

.common-loginpage-signuppage>form>input[type="submit"]:focus {
    outline: 3px solid rgba(255,255,255,1);
}

#common-loginpage-signuppage-background {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}