#userpage {
    font-family: "Inter";
}

#userpage>header {
    align-items: center;
    background-color: var(--main-bg-color);
    display: flex;
    gap: 20px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

#userpage-title {
    color: var(--text-color);
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    text-decoration: none;
}

#userpage-parameters {
    display: flex;
    font-size: 20px;
    gap: 10px;
}

#userpage-body {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.userpage-link {
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s linear; 
}

.userpage-link:hover {
    color: var(--border-color);
}

#userpage-parameters>i {
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s linear;
}

#userpage-parameters>i:hover {
    color: var(--border-color);
}

#userpage-left {
    grid-column: 1 / 2;
    margin: 0 auto 0 auto;
    max-width: 500px;
    width: 80%;
}

#userpage-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 0;
}

#userpage-info>h2 {
    color: var(--text-color);
    font-size: 28px;
    margin: 0;
}

#userpage-info>h3 {
    color: rgba(68,148,193,1);
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

#userpage-userstats {
    margin: 0 auto 0 auto;
}

.userpage-category {
    align-items: center;
    background-color: var(--border-color);
    border: 0;
    border-radius: 5px;
    color: rgba(255,255,255,1);
    display: flex;
    height: 50px;
    font-family: inherit;
    font-weight: bold;
    justify-content: center;
    margin: 15px auto 15px auto;
    overflow: scroll;
    padding: 0 10px 0 10px;
    transition: 0.3s linear;
}

#userpage-followed {
    margin: 15px auto 0 auto;
}

#userpage-right {
    grid-column: 2 / 3;
    margin: 30px auto 0 auto;
    max-width: 1200px;
    width: 80%;
}

#userpage-searchbar {
    margin-bottom: 30px;
}

#userpage-messageslist {
    margin-top: 30px;
}