.messageslist {
    margin: 0;
    width: 100%;
}

.messageslist>ul {
    list-style-type: none;
    padding: 0;
}

.messageslist-seemore {
    align-items: center;
    background-color: var(--border-color);
    border: 0;
    color: rgba(255,255,255,1);
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: 16px;
    gap: 5px;
    height: 50px;
    justify-content: center;
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
}

.messageslist-seemore:hover {
    filter: brightness(80%);
}

.messageslist-empty {
    width: 100%;
}

.messageslist-empty {
    align-items: center;
    background-color: var(--message-bg-color);
    border: 1px solid var(--message-border-color);
    color: var(--text-color);
    display: flex;
    font-family: inherit;
    font-size: 16px;
    height: 100px;
    justify-content: center;
    overflow: scroll;
    width: 100%;
}