#banner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 250px;
    width: 100%;
}

#banner-cover {
    grid-area: 1 / 1 / 1 / 3;
    overflow: hidden;
}

#banner-cover>img {
    user-select: none;
}

#banner-edit {
    background-color: rgba(0,0,0,0.75);
    border: 0;
    border-radius: 10px;
    color: rgba(255,255,255,1);
    cursor: default;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 275px;
    visibility: hidden;
    z-index: 1;
}

#banner-edit:hover {
    filter: brightness(80%);
}

#banner-edit>input[type='file'] {
    opacity: 0;
    position: absolute; 
}

#banner-edit>span {
    align-items: center;
    display: flex;
    gap: 10px;
}

#banner-picture {
    align-self: end;
    border-radius: 50%;
    grid-area: 1 / 1 / 1 / 2;
    height: 175px;
    justify-self: center;
    margin: -75px;
    user-select: none;
    width: 175px;
}

#picture-edit {
    align-items: center;
    color: rgba(255,255,255,1);
    display: flex;
    font-size: 32px;
    grid-area: 1 / 1 / 1 / 2;
    justify-content: center;
    margin: 225px auto 0 auto;
    visibility: hidden;
    width: 175px;
    z-index: 1;
}

#picture-edit>input[type='file'] {
    height: 175px;
    opacity: 0;
    position: absolute; 
}

#picture-edit>span {
    align-items: center;
    display: flex;
    gap: 10px;
}