#createmessage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#createmessage-content {
    background-color: var(--createmessage-bg-color);
    border: 1px solid var(--message-border-color);
    box-sizing: border-box;
    color: var(--createmessage-color);
    height: 20vh;
    font-family: inherit;
    margin-bottom: 10px;
    outline: 0;
    padding: 10px;
    resize: none;
    width: 100%;
}

#createmessage>textarea:focus {
    border: 3px solid var(--border-color);
}

#createmessage-buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    width: 100%;
}

.createmessage-button {
    background-color: var(--border-color);
    border: 0;
    color: rgba(255,255,255,1);
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    padding: 0 10px 0 10px;
    text-align: center;
    transition: 0.3s linear;
    width: 100%;
}

.createmessage-button:hover {
    filter: brightness(85%);
}

.createmessage-label {
    align-items: center;
    background-color: var(--border-color);
    color: rgba(255,255,255,1);
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    transition: 0.3s linear;
    width: 100%;
}

.createmessage-label:hover {
    filter: brightness(85%);
}

#createmessage-image {
    display: none;
}

.createmessage-retweet {
    align-items: baseline;
    border-radius: 10px;
    color: var(--createmessage-color);
    display: flex;
    font-family: inherit;
    gap: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.createmessage-cancel {
    background: none;
    border: 0;
    color: var(--createmessage-color);
    cursor: pointer;
    margin: 0;
    padding-left: 5px;
}

.createmessage-cancel:hover {
    filter: brightness(75%);
}