#createmessage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#createmessage>textarea {
    background-color: var(--createmessage-bg-color);
    border: 1px solid var(--message-border-color);
    box-sizing: border-box;
    color: var(--createmessage-color);
    height: 20vh;
    font-family: inherit;
    margin-bottom: 10px;
    outline: 0;
    padding: 10px;
    resize: none;
    width: 100%;
}

#createmessage>textarea:focus {
    border: 3px solid var(--border-color);
}

#createmessage>button {
    background-color: rgba(140,107,203,1);
    border: 0;
    color: rgba(255,255,255,1);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    height: 50px;
    padding: 0 10px 0 10px;
    text-align: center;
    transition: 0.3s linear;
    width: 100%;
}

#createmessage>button:hover {
    filter: brightness(90%);
}