#usermeters {
    align-items: center;
    color: var(--texte-color);
    cursor: default;
    display: flex;
    gap: 20px;
    justify-content: center;
}

#usermeters>div {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}