#usermeters {
    align-items: center;
    color: var(--text-color);
    cursor: default;
    display: flex;
    font-size: 20px;
    gap: 20px;
    justify-content: center;
}

#usermeters>div {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}