.userslist {
    margin: 0;
    width: 100%;
}

.userslist>ul {
    list-style-type: none;
    padding: 0;
}

.userslist-seemore {
    align-items: center;
    background-color: var(--user-bg-color);
    border: 1px solid var(--user-border-color);
    border-radius: 10px;
    color: rgba(255,255,255,1);
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: 16px;
    gap: 5px;
    height: 50px;
    justify-content: center;
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
}

.userslist-seemore:hover {
    box-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
}

.userslist-empty {
    background-color: var(--user-bg-color);
    border: 1px solid var(--user-border-color);
    border-radius: 10px;
    color: rgba(255,255,255,1);
    font-family: inherit;
    font-size: 16px;
    height: 150px;
    width: 100%;
}