.message {
    background-color: var(--message-bg-color);
    border: 1px solid var(--message-border-color);
    display: grid;
    flex-direction: column;
    font-family: inherit;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    overflow: scroll;
    width: 100%;
}

.message>img {
    border-radius: 50%;
    height: 75px;
    justify-self: center;
    margin: 20px 0 0 20px;
    width: 75px;
}

.message-metadata {
    align-self: center;
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
    margin: 25px 10% 0 25px;
}

.message-metadata>h3 {
    color: var(--text-color);
    font-size: 20px;
    margin: auto 0 0 0;
}

.message-metadata>h4 {
    color: var(--meta-color);
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

.message>p {
    border-bottom: 1px solid var(--message-border-color);
    color: var(--text-color);
    font-size: 16px;
    grid-area: 2 / 2 / 3 / 3;
    margin: 10px 10% 0 25px;
    padding: 10px 0 10px 0;
}

.message-features {
    display: flex;
    gap: 30px;
    grid-area: 3 / 2 / 4 / 3;
    margin: 20px 0 10px 25px;
}

.message-features>button {
    background-color: rgba(0,0,0,0);
    border: 0;
    color: var(--text-color);
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s linear;
}

.message-features-button:hover {
    color: var(--border-color);
}

.message-follow-button:hover {
    color: rgba(70,141,78,1);
}

.message-delete-button:hover {
    color: rgba(255,69,0,1);
}