.profil-div-compteurs {
    align-items: center;
    cursor: default;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.profil-compteur {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}