#main-connexion {
    height: 450px;
    padding-top: 50px;
}

.h1-connexion {
    padding: 20px 0 20px 0;
}

#form-connexion>i {
    cursor: pointer;
    transition: 0.3s linear;
}

#form-connexion>button, #form-connexion>input {
    margin-bottom: 15px;
}

#form-connexion>input[type="password"] {
    padding-right: 30px;
}

#form-connexion>i {
    font-size: 14px;
    margin-left: -25px;
}

#form-connexion>i:hover {
    color: rgba(140,107,203,1);
}