header {
    align-items: center;
    background-color: rgba(23,21,33,0.7);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header>button {
    background-color: rgba(23,21,33,0.8);
    border: 2px solid rgba(255,255,255,1);
    border-radius: 4px;
    color: rgba(255,255,255,1);
    font-family: inherit;
    font-weight: bold;
    height: 40px;
    margin: 10px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

header>button:hover {
    border-color: rgba(140,107,203,1);
}

header>p {
    color: rgba(255,255,255,1);
    cursor: default;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
}