#fil-actualite {
    display: grid;
    font-family: "Inter";
    grid-template-columns: 375px 1fr;
    grid-template-rows: 1fr; 
}

#fil-etoiles {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}

#fil-gauche {
    grid-area: 1 / 1 / 4 / 2;
    height: 100%;
    position: fixed;
    width: 375px;
}

#fil-droit {
    grid-area: 1 / 2 / 2 / 3;
    margin: 20px auto 0 auto;
    max-width: 1250px;
    width: 80%;
}

#fil-recherche {
    background-color: var(--main-bg-color);
    padding: 10px 0 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

#fil-tout-message {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 5% 0px 5%;
}