#fil-actualite {
    display: grid;
    font-family: "Inter";
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr; 
}

#fil-gauche {
    grid-area: 1 / 1 / 4 / 2;
    height: 100%;
    position: fixed;
    width: 350px;
}

#fil-droit {
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-area: 1 / 2 / 2 / 3;
    margin: 30px auto 0 auto;
    max-width: 1250px;
    width: 75%;
}