html {
    min-height: 100%;
}

body {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/img/background.png") center no-repeat;
    background-size: cover;
    font-family: "Inter";
    margin: 0;
}