.infos {
    background-color: var(--infos-bg-color);
    border-radius: 10px;
    height: auto;
    width: auto;
}

.infos-maquette {
    margin: auto;
    height: 400px;
    width: 100%;
}

.infos-stats {
    padding: 15px;
}