#barre-recherche {
    display: flex;
    gap: 20px;
}

#barre-recherche>div {
    align-items: center;
    display: flex;
    width: 100%;
}

.recherche-icone {
    color: var(--texte-color);
    cursor: pointer;
    margin-left: -30px;
}

.recherche-icone:hover {
    color: var(--bordure-color);
    transition: 0.3s linear;
}

#barre-recherche>div>input[type="text"] {
    background-color: var(--recherche-bg-color);
    border: 0;
    border-radius: 50px;
    color: var(--recherche-color);
    height: 20px;
    font-family: inherit;
    padding: 10px 40px 10px 10px;
    width: 100%;
}

#barre-recherche>div>input[type="text"]:focus {
    outline: 3px solid var(--bordure-color);
}

#barre-recherche>input[type="checkbox"] {
    cursor: pointer;
}