h1 {
	color: rgba(255,255,255,1);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.form {
    margin: 0 auto 0 auto;
	width: 300px;
}

.form>button, form>input {
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    height: 50px;
    padding: 0 10px 0 10px;
    width: 100%;
}

.form>input:focus {
    outline: 3px solid rgba(140,107,203,1);
}

.form>input[type="submit"]:focus {
    outline: 3px solid rgba(255,255,255,1);
}

.form>input::placeholder {
    font-style: italic;
}

.form>button {
    background-color: rgba(140,107,203,1);
    color: rgba(255,255,255,1);
    font-weight: bold;
    margin-top: 20px;
}

.form>button:hover {
    background-color: rgba(126,96,182,1);
}