.main {
    background-color: rgba(23,21,33,0.8);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 10% auto 0 auto;
    width: 400px;
    height: 450px;
    padding-top: 50px;
}

.form>i {
    cursor: pointer;
    transition: 0.3s linear;
}

h1 {
    padding: 20px 0 20px 0;
}

.form>button, .form>input {
    margin-bottom: 15px;
}

.form>input[type="password"] {
    padding-right: 30px;
}

.form>i {
    font-size: 14px;
    margin-left: -25px;
}

.form>i:hover {
    color: rgba(140,107,203,1);
}