.main {
    background-color: rgba(23,21,33,0.8);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 10% auto 0 auto;
    width: 400px;
    height: 475px;
    padding-top: 25px;
}

div>i {
    cursor: pointer;
    transition: 0.3s linear;
}

h1 {
    padding: 0 0 20px 0;
}

.form {
	display: grid;
    grid-gap: 15px;
	grid-template-columns: 1fr 1fr;
}

.large-field {
    grid-column: 1 / span 2;
}

.div>input {
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    height: 50px;
    padding: 0 10px 0 10px;
    width: 100%;
}

.div>input[type="password"] {
    padding-right: 30px;
}

.div>input:focus {
    outline: 3px solid rgba(140,107,203,1);
}

.div>input::placeholder {
    font-style: italic;
}

.div>i {
    font-size: 14px;
    margin-left: -25px;
}

.div>i:hover {
    color: rgba(140,107,203,1);
}